/* Variables */
:root {
  --dark: #333;
  --light: #fff;
  --primary: #ddd;
  --shadow: 0 0 5px rgba(104, 104, 104, 0.8);
}
body {
  background-color: #ccc;
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0;
}
.wrapper {
  display: grid;
  gap: 20px;
}
img {
  box-shadow: var(--shadow);
  max-width: 100%;
}
.wrapper {
  margin: 30px 50px;
}
.btn {
  background: var(--dark);
  color: var(--primary);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  margin: auto;
}
hr{
  width: 10%;
  border: rgba(128, 128, 128, 0.486) 1px dotted;
  border-width: 5px 0 0;
}
/* Navigation bar */
.main-nav ul {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-nav li a {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  color: var(--dark);
  display: block;
  font-size: 1.1rem;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}
.main-nav li a:hover {
  background-color: var(--dark);
  color: var(--primary);
}
/* Top container */
.top-container {
  display: grid;
  gap: 20px;

  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}
.showcase {
  align-items: start;
  background-size: cover !important; 
  background: url(images/img-1.jpg);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  grid-area: showcase;
  justify-content: center;
  min-height: 400px;
  padding: 3rem;
}
.showcase h1 {
  color: var(--light);
  font-size: 4rem;
  margin-bottom: 0;
}
.showcase p {
  color: var(--light);
  font-size: 1.3rem;
  margin-top: 0;
}
.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}
.top-box {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.3rem;
  text-align: center;
}
.price {
  font-size: 2rem;
}
/* Boxes section */
.boxes {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.box {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem 2rem;
  text-align: center;
}
/* Info section */
.info {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}
/* Portfolio */
.portfolio {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(8, 1fr);
}
/* Footer */
footer {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  width: 100%;
}
/* Media queries */
@media (min-width: 501px) and (max-width: 800px) {
  .boxes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .portfolio {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .top-container {
    grid-template-areas:
      "showcase showcase"
      "top-box-a top-box-b";
  }
  .info{
    grid-template-columns: repeat(1,1fr);
  }
  .btn{
    margin: auto;
  }
}
@media (max-width: 500px) {
  .main-nav ul {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .top-container {
    grid-template-areas: "showcase"
    "top-box-a"
    "top-box-b";
  }
  .boxes{
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(1,1fr);
  }
  .info{
    grid-template-columns: repeat(1,1fr);
  }
  .portfolio{
    grid-template-columns: repeat(1,1fr);
    display: flex;
    flex-direction: column;
  }
  .btn{
    margin: auto;
  }
}
